<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.br.kjtrufas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Administrador" />
        <activity android:name=".Cadastro" />
        <activity android:name=".CadastroVendedor" />
        <activity android:name=".Vendas" />
        <activity android:name=".CadastroProduto" />
        <activity android:name=".CadastroSabor" />
        <activity android:name=".ConsultarComanda" />
        <activity android:name=".MainActivity"></activity>

        <receiver
            android:name=".salesforce.SincronizarDados"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="DISPARAR_ALARME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>


    </application>

</manifest>